{% macro render_tasks(tasks) -%}
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th class"is-1"><abbr title="Task Identifier">Id</abbr></th>
        <th><abbr title="Estimated time">Enqueued at</abbr></th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.task_name }}</td>
          <td><a href="{{ url_for('tasks.show', task_id=task.task_id) }}">{{ task.task_id }}</a></td>
          <td>{{ task.timestamp }}</td>
          <td>{{ task.type | titlize }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

